src/frontend/node_modules/
src/frontend/dist/
src/frontend/.env
src/frontend/.env.local

src/backend/wwwroot/

.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json

bin
obj

appsettings.Development.json

pgdata/